[2021-08-30 13:23] jiaola opened #2 "`oboInOwl:hasExactSynonym “COFFIN-SIRIS SYNDROME 3; CSS3" ;` This should be split into “coffin-siris syndrome 3” and `“CSS3" (oboInOwl:inSubset “ABBREVATION”)` (syntax approximate)"

[2021-08-30 13:24] jiaola opened #3 "there are currently no "is a" links between OMIMPS and their respective OMIMs"

[2021-08-30 13:24] jiaola opened #4 "Do not upper-case the first letter of the label."

[2021-08-30 13:24] jiaola opened #5 "Do not upper-case the first letter of the label for synonyms - unless abbreviations"

[2021-09-03 00:32] #3 closed, assigned to nobody

[2021-09-09 16:46] #2 closed, assigned to jiaola

[2021-09-10 17:11] jiaola opened #8 "Add OWL reification for Gene-Disease association"
@matentzn  Here's an example of a gene that is associated to a disease OMIM number. Please specify how to add owl reification for these triples:

[code]

[code]

## Related
- #77

[2021-09-10 17:12] jiaola opened #9 "Add makefile for building the omim.ttl file"

[2021-09-10 17:59] matentzn opened #10 "Export as RDFXML and ensure no warnings when loading with ROBOT"
## Description
@matentzn wrote:

- [x] Ensure can be processable
- [ ] Ideally: Add a test for this

[2021-09-12 09:49] matentzn opened #11 "NCBITaxon:9606 is missing prefix"
## Edits
1. Added task list, header for "individual sub-issues", and numbered the headers under that - _joeflack4 2021/12/20_

## Task list
- [x] 1. Wrong IRI NCBITaxon:9606
- [x] 2. Labels should be totally lowercase, unless first word in "name" dictionary
  - [x] 2a. lowercase
  - [x] 2b. "name" dict replacements
- [x] 3. Obsolete terms have no labels?
- [x] 4. Genes use abbreviations as main la

[2021-09-20 22:18] #4 closed, assigned to joeflack4

[2021-09-20 22:18] #5 closed, assigned to joeflack4

[2021-09-22 08:47] matentzn opened #14 "Repo should be public, no need to hide :)"

[2021-09-23 20:15] joeflack4 opened #15 "Build should be deterministic"
## Description
Build should be deterministic; same inputs should always generate same output.

_Nico wrote:_

![image](https://user-images.githubusercontent.com/7070631/134483510-b9a988e4-02a4-4b82-ae7b-e7a36b3313ca.png)

_Originally posted by @matentzn in https://github.com/monarch-initiative/omim/issues/13#issuecomment-925642681_

## Possible solutions
It looks like the issue is that the `BNode`

[2021-09-27 23:29] joeflack4 opened #17 "Test: Output should be processable by ROBOT"
## Description
@matentzn wrote:
_> Remember it is imperative you check that the output can be processed with ROBOT (losslessly, other than bnode IDs which will almost certainly be lost, but its not important)._

[2021-09-27 23:31] #15 closed, assigned to nobody

[2021-10-01 21:06] #9 closed, assigned to joeflack4

[2021-10-04 00:52] joeflack4 opened #18 "Auto generate 'latest release' on PR merge"
## Description
The Slurp pipeline depends on the 'latest release' in this repository. Therefore it would be useful to automate publication of this at certain times, e.g. (a) when PR is merged, or (b) when 'make all/build' is run.

It might be useful to also do an `md5` check on the files to make sure they're not the same.

[2021-10-04 09:26] matentzn commented on #14
done thank you @monicacecilia :)

[2021-10-04 09:26] #14 closed

[2021-10-04 20:54] joeflack4 commented on #14
Thanks Moni!

[2021-10-04 20:55] joeflack4 commented on #18
Roger that!

[2021-10-05 17:30] joeflack4 commented on #10
Looks like we have success!

The export file is readable by robot, and slurping appears to be OK as well.

I changed the output format from `.ttl` to RDF `.xml`.

[code]

---

I think I'm going to opt out of the automated 'test' requirement for now, as robot is not pip installable, so the environment for the test might be difficult to replicate.

[2021-10-05 19:50] #17 closed

[2021-10-15 17:00] #10 closed

[2021-10-15 17:49] joeflack4 opened #19 "Combine 'fetch PMIDs' and 'web scrape new codes' w/ overall pipeline"

[2021-10-15 17:52] matentzn opened #20 "Create GitHub action that runs scraping once per week"
This action should:

1. run the whole pipeline
2. run CI checks on the released ontology (I will supply)
3. Make a release with the new created file
4. If there are any supporting files created by the process, commit them straight to master (human out of the loop)

[2021-10-15 17:53] matentzn opened #21 "Synonyms should be "exact" by default, not "related""
See title of issue

[2021-10-15 18:19] matentzn opened #22 "Akronyms should get ABBREVIATION tag"
This is an example in OBO format:

[code]

An example in turtle:

[code]

(this needs a reified RDF expression such as the example above, sorry).

[2021-10-15 20:10] nicolevasilevsky opened #23 "OMIM slurp: If a letter follows a number, it should be capitalized"
For OMIM slurp, if a letter follows a number, it should be capitalized, eg pontocerebellar hypoplasia, type 1e should be 1E

[2021-10-15 20:10] nicolevasilevsky opened #24 "OMIM slurp: dna should be capitalized (DNA)"
dna should be capitalized (DNA)

[2021-10-17 21:11] joeflack4 opened #25 "Typos in capitalization"
Copy of:
https://github.com/monarch-initiative/mondo/issues/1526

[2021-10-17 21:14] joeflack4 opened #26 "Super-issue: Capitalization"
# Tasks
- [ ] 1. #23
- [ ] 2. #24
- [ ] 3. #25

[2021-10-18 00:26] joeflack4 opened #27 "OMIM synonyms should be broken into synonyms - main term and abbreviation"
Copy of: https://github.com/monarch-initiative/mondo/issues/2631
(This issue may already be completed)

[2021-10-18 00:49] joeflack4 opened #28 "OMIM synonym scope needs review"
Copy of: https://github.com/monarch-initiative/mondo/issues/2629
(This may already be complete)

[2021-10-18 09:11] #27 closed, assigned to joeflack4

[2021-11-05 16:37] matentzn opened #29 "Delete data/omim.ttl"
And make sure that the method still works with the minimum necessary input..

[2021-11-05 16:44] matentzn opened #30 "Tag annotations such as synonyms and definitions with the data model entry they come from"
For example:

oio:exactSynonym "ABakjskjaks" [dc:source OMIM.mimtitle]

Not right now but we will come back to this.

[2021-11-14 02:27] joeflack4 opened #31 "Finish automation & add a GitHub Action"

[2021-11-14 02:29] joeflack4 commented on #19
@matentzn With Dazhi gone, and with some insights, I think, I'm not even sure it makes sense to combine these features I added with the `omim.ttl` build, so I'm closing this issue. I also think there will be a different way to determine recently added/updated codes that doesn't involve web scraping.

[2021-11-14 02:29] #19 closed

[2021-11-16 01:32] joeflack4 opened #32 "Utilize titles from `morbidMap.txt` in addition to `mimTitles.txt`"
Based on conversation w/ François & Joanna in 2021/10:

As of time of this writing, titles/labels are only being pulled from `mimTitles.txt`.

[2021-11-18 23:13] nicolevasilevsky opened #33 "OMIM alternative title should be exact synonyms"
@joeflack4

- [x] please make alternative titles in OMIM manifest as skos:exact match
- [ ] And then please make a new release

@matentzn to do:
- [ ] Build slurp system (Nico started writing the code for this but is uncertain when it will be done)

[2021-11-24 16:44] joeflack4 opened #34 "Not enough terms labeled w/ `biolink:category biolink:Disease`?"
Currently the output omim.ttl file only has 198 instances of `biolink:category biolink:Disease`-labeled terms. It should be much more than that, I have heard.

[2021-11-24 16:44] joeflack4 commented on #34
@matentzn FYI

[2021-11-24 17:26] matentzn commented on #11
NCBITaxon:9606 still missing prefix, see above

[2021-11-24 18:25] matentzn opened #35 "hasSynonymType needs to be declared an OWL annotation property"
http://www.geneontology.org/formats/oboInOwl#hasSynonymType

always check that omim.owl can be run with ROBOT, like

[code]

[2021-11-24 18:26] matentzn opened #36 "omim.owl in the release should be called omim.owl"
not: omim.xml or omim.owl.xml

[2021-11-25 09:19] matentzn commented on #34
You must have been looking at the wrong file. I checked the release and it looks good with around 8200 occurrences. I think this issue can be closed.

[2021-11-25 11:06] matentzn opened #37 "OMIMPS URL should be https://www.omim.org/phenotypicSeries/PS"
Right now, its https://www.omim.org/phenotypicSeries/ which causes entities not to resolve correctly

[2021-11-25 11:06] matentzn commented on #37
Example of a correct one: https://www.omim.org/phenotypicSeries/PS309530

[2021-11-26 22:11] joeflack4 commented on #34
I just ran to create a new release and got over 8200 as well. I guess I looked in the old `data/omim.ttl` file. Surprised I would make that mistake, but must be the case. Thanks for checking, Nico.

[2021-11-26 22:11] #34 closed

[2021-12-14 10:26] matentzn opened #38 "Cant run release myself"
My Key works: I just tried downloading some file - so it must be that there are _some_ things it does not work for.

[code]

[2021-12-15 16:50] joeflack4 commented on #35
When initializing RDF graph, drop a single triple. "subset property -> rdf:type -> owlAnnotation property"

[2021-12-15 17:03] joeflack4 commented on #35
When running `robot convert -i omim.ttl -f owl -o test.owl`, it listed a bunch of stuff that's wrong:

If I add the triple, a lot of these will disappear. But adding the above triple.

Locally, I created `omim2.ttl` and added the triple manually, and I got no errors when running the robot command! Now I just need to add this programmatically during the build process.

[2021-12-15 17:32] joeflack4 commented on #35
Added. The generated triple shows as: `oboInOwl:hasSynonymType a owl:AnnotationProperty .`

[2021-12-15 18:06] matentzn commented on #35
Awesome, thank you!

[2021-12-20 21:45] joeflack4 commented on #37
@matentzn I think you must have been looking at an older version. I checked, and the last release, published on October 1st, already uses the correct URL for the OMIMPS prefix:

From `omim.ttl` in [latest release](https://github.com/monarch-initiative/omim/releases/tag/1.0.0), line 6:
[code]

As such, I'm gonna mark this closed. But if I misunderstood something, please re-open!

[2021-12-20 22:46] joeflack4 commented on #38
@matentzn I believe you said that your API_KEY now correctly downloads these, so I am closing. If I'm incorrect and you're still having issues, then (1) we should re-open this issue, (2) we should get you a working API_KEY, and (3) we should decide if, should this happen, we should fallback on the cache, or if throwing this error is indeed the correct action.

[2021-12-20 22:46] #38 closed

[2021-12-21 03:36] joeflack4 commented on #11
@matentzn While I have put in a fix for (3), it is only one of several possible solutions, and I need some input as to if I need to make any further updates.

The chief issue here is that, at least w/ the data I have, any obsolete/deprecated classes do not list any labels. What they do list are IDs for 0 to 2+ IDs to any MIM#s that they have been replaced by. So in the case of 0, there will be no

[2021-12-21 03:37] joeflack4 commented on #11
@matentzn For (4), yes, that is the case. This is how Dazhi wrote it. If you want me to change, I can do that. But as you mentioned, this is something we can discuss at a meeting.

[2021-12-21 10:08] matentzn commented on #11
- Lets leave (4), genes as abbrevi. as is for now.
- Lets drop (3) - no labels on deprecated classes. I think this could turn out to be very confusing. Thanks for checking!

[2021-12-21 20:11] joeflack4 commented on #11
@matentzn Thanks for the response! (3) required a fair amount of refactoring to implement, but I hear you. It should take but a few minutes to deactivate this.

[2021-12-21 20:24] matentzn commented on #11
Maybe I misunderstood - I thought the result was a bit ambiguous? My feeling is that unless we can reliably identify the label just before the obsoletion, we should probably not add it. What do you think? How confident are you about these labels? If you are 90, 95% confident I am happy to keep what you have!

[2021-12-21 20:28] joeflack4 commented on #11
From what I've seen, I'm >50% confident that these labels, in many/most cases, are _not_ representative of the term that was deprecated. But there is ambiguity. If you want to take the time or delegate to someone to look over these (someone who is more knowledgeable about medical terminology than I), let me know, and I can add a configuration option to the build to generate additional triples for

[2021-12-21 20:32] #11 closed

[2021-12-21 20:32] #33 closed

[2021-12-21 20:32] #35 closed

[2022-02-25 18:21] matentzn opened #40 "OMIM releases should be versioned moving forward"
use this conventions:

`v2022-02-28`

Leading v, YYYY-MM-DD.

[2022-02-25 18:21] matentzn commented on #40
P.S. If you have have time to do another release that would be great!

[2022-03-04 17:59] matentzn opened #41 "Ingest uses skos:exactMatch instead of oboInOwl:hasExactSynonym"
Example:

[code]

[code]

Should be:

[code]

Make sure you import the `oboInOwl` namespace:

[code]

cc @hrshdhgd

[2022-03-04 19:26] hrshdhgd opened #42 "URI with http or https"
The "id" is `OMIM.json` has `http:` for e.g. `"id" : "http://omim.org/entry/276000",` . Is this correct or should this be ` "id" : "https://omim.org/entry/276000",`

cc: @matentzn

[2022-03-04 21:53] joeflack4 commented on #41
@matentzn Got it. I'm thinking this will be an easy change.

[2022-03-30 12:36] Lawhy opened #43 "Difference with the official OMIM"
Hi, I have some confusion about the OMIM ontology you released here, and @matentzn suggested that I should raise a ticket. I used Protege to load the OMIM data, but the number of classes is 44729, far less than the official one with 99165. Since I would like to conduct an ontology alignment experiment using MONDO mappings, may I ask what the difference between your OMIM and the official one is and

[2022-03-30 15:52] matentzn commented on #43
It is important to understand, first and foremost, that OMIM is no ontology. There is no "official" version. What we can provide you is the input data we use to construct "our" version. @joeflack4 could you provide a list of the datasources we use, and perhaps an hypothesis of why we have so many less classes?

@Lawhy if @joeflack4 also does not know, you can send us a list of diseases in the Biop

[2022-03-30 20:50] joeflack4 commented on #43
That is a good find, thanks.

The files being utilized in the ingest currently can be seen in the `main.py`: https://github.com/monarch-initiative/omim/blob/main/omim2obo/main.py

At the top of that file, I've written out which source files are used and how. They are:
- mimTitles.txt
- mim2gene.txt
- phenotypicSeries.txt
- morbidmap.txt

I looked at one of these files, and it looks like the files

[2022-03-30 21:21] Lawhy commented on #43
Hi @joeflack4, I have sent an email to you!

[2022-03-30 22:04] joeflack4 commented on #43
@Lawhy Thanks, I just got your email and sent over the files I mentioned.

@matentzn Yuan shared with me where he obtained his `OMIM.ttl`: [bioportal](https://bioportal.bioontology.org/ontologies/OMIM/?p=summary). Do you have any idea if this is an authoritative source and who might have created this? If you don't know, I'll send an email over to the OMIM folks to see what they know.

## Compariso

[2022-03-30 23:23] Lawhy commented on #43
Many thanks for the analysis, it makes a lot of sense! Since your mappings are aligned to the `omim.ttl` you have created, I will use it as an input ontology for experiments first, and keep a record of this ticket to see if there are any follow-ups.

[2022-04-01 17:05] matentzn commented on #43
After some detective work with UMLS and Bioportal, we learned that OMIM on BioPortal is

1. Not at all official (OMIM the resource has nothing to do with it)
2. Generated from UMLS instead from OMIM data directly using this script: https://github.com/ncbo/umls2rdf/blob/master/umls2rdf.py
3. There are probably not many people that know about this process, as this process has been running for years

[2022-04-11 07:22] matentzn opened #44 "Create a complete HGNC-OMIM SSSOM mapping file"
We need a complete mapping (covering all genes, not just the genes in omim.ttl in case these are restricted to the disease relevant ones) of all HGNC-OMIM genes. We should output an sssom file and attach it to the release, the same way as omim.ttl is attached.

[2022-04-11 07:24] matentzn opened #45 "OMIM gene equivalencies cause cycles/cliques"
HGNC-OMIM mappings (where OMIM ids pertain to genes) are represented as owl:equivalentClass axioms in omim ingest. We should probably change that to using skos:exactMatch instead (or drop them entirely, see below and instead produce an SSSOM file for HGNC-OMIM), as the OMIM-HGNC mappings are not entirely safe, or rather, they cause proxy-merges on the HGNC side, like in this case:

<img width="197

[2022-04-11 07:48] matentzn opened #46 "Create a complete UMLS-OMIM SSSOM mapping file"
Covering all diseases in OMIM.

See #44, should be attached to release.

[2022-04-11 21:00] joeflack4 commented on #46
This sounds like it should be easy to do with what I have available.

For my input, I'd use the latest `omim.ttl` from our OMIM ingest.

That file already has mappings to UMLS in the form of:
`oboInOwl:hasDbXref UMLS:<code>`

For the UMLS prefix, the one we've been using and which I'll continue to use will be:
`http://linkedlifedata.com/resource/umls/id/`

If any of this sounds incorrect, just let

[2022-04-11 21:06] joeflack4 commented on #44
Alright, so I looked into this, and I can obtain these mappings from one or both of two places:
i. OMIM's `mim2gene.txt` (we've been using this in the ingest so far; has a column for HGNC mappings, but have not thus far utilized these in the generated `omim.ttl`)
ii. OMIM's `genemap2.txt` (haven't used in the ingest yet, but has a column for HGNC mappings)

I plan to use both of these and, if I no

[2022-04-11 21:15] matentzn commented on #44
Sounds great.

1. Always check bioregistry: https://bioregistry.io/registry/hgnc. Mondo used `https://identifiers.org/hgnc:16793` so feel free to use that for now. I may change my mind. :P
2. I don't know the difference, didn't know there was one! Can you ask in the `kg-hub-n-data` group in the Monarch slack space?
3. No web scraping.

[2022-04-11 21:17] matentzn commented on #46
- instead of hasDbXref, for the sssom file, use `skos:exactMatch`.
- For Mondo related work, lets consolidate our prefixes here: https://github.com/monarch-initiative/mondo/blob/master/src/ontology/metadata/mondo.sssom.config.yml

[2022-04-11 22:37] joeflack4 commented on #46
Got it!

[2022-04-11 22:44] joeflack4 commented on #44
Thanks!
(1) Ok, I'll use `https://identifiers.org/hgnc:` as my CURIE prefix for HGNC. I can also do a quick PR to add it to https://github.com/monarch-initiative/mondo/blob/master/src/ontology/metadata/mondo.sssom.config.yml
(2) Sure thing

[2022-04-11 23:23] cmungall commented on #45
This is fine. Just merge the OMIM entries, they are talking about the same gene in all cases I bet

I looked at the first pair

 1. https://omim.org/entry/306250 COLONY-STIMULATING FACTOR 2 RECEPTOR, ALPHA; CSF2RA
 2. https://omim.org/entry/425000 GRANULOCYTE-MACROPHAGE COLONY-STIMULATING FACTOR RECEPTOR, ALPHA SUBUNIT, Y-CHROMOSOMAL; CSF2RY

The first is an actual useful entry linked to a mendeli

[2022-04-11 23:23] cmungall commented on #45
or make a gene exclusion list, just like we do for diseases

[2022-04-12 20:45] joeflack4 opened #47 "Get HGNC IDs in addition to symbols"
I've already written most of the code to do this. I just need access to this file, but am currently getting `Bad Gateway` when I try to download: http://ftp.ebi.ac.uk/pub/databases/genenames/hgnc/tsv/hgnc_complete_set.txt

[2022-04-12 21:19] joeflack4 opened #49 "Reconcile inconsistent HGNC mappings"
In running the new ingest, the following HGNC warnings were produced:

[code]

I've reached out to the OMIM people for guidance on what to do about this, whether both of these mappings are valid, only one of them, or possibly neither.

[inconsistent hgnc symbols.csv](https://github.com/monarch-initiative/omim/files/8482383/inconsistent.hgnc.symbols.csv)

[2022-04-13 12:22] matentzn commented on #47
Works for me!

[2022-04-13 12:23] matentzn commented on #49
This is exactly this issue: #45

[2022-04-13 12:34] matentzn commented on #44
Just in case I forgot to mention, it would be create to see the `omim-hgnc.monarch.sssom.tsv` file attached to the release: https://github.com/monarch-initiative/omim/releases/tag/latest

[2022-04-13 14:54] joeflack4 commented on #44
You did mention that, and it's on my task list. But I did just think of a question, now that you mention this (I'll ask in today's meeting):

UMLS-OMOM && HGNC-OMIM Mapping files: which mappings?

- What mappings go in these?
- Just e.g. <umls_id> <predicate_id> <omim_id>?
- Or:
  - 1. <umls_id> <predicate_id> <omim_id>
  - 2. <omim_id> <predicate_id> <monarch_id>
  - 3. <umls_id> <predicate_id> <

[2022-04-15 00:47] joeflack4 opened #50 "Update equivalency predicates"
On the Wednesday, April 13th 2022 call, Nico mentioned that we should update the equivalency predicates. I believe that this is for OMIM. And he said that a curator would be doing this.

[2022-04-17 21:22] joeflack4 opened #51 "Pipenv -> pip || poetry"
Got an error the last time I tried using Pipenv. Pipenv is pretty much being abandoned because it's no longer well supported, and is slow and buggy.

[2022-04-18 02:01] #44 closed

[2022-04-18 02:01] #46 closed

[2022-04-18 02:01] #47 closed

[2022-04-18 02:12] joeflack4 commented on #41
Changed and did QC check. Created a new release.

[2022-04-18 02:12] #41 closed

[2022-04-18 02:17] joeflack4 commented on #46
Results in latest release. I think I still need to split the file, though: https://github.com/monarch-initiative/omim/releases/tag/latest

[2022-04-18 02:18] joeflack4 commented on #44
Results in latest release. I think I still need to split the file, though: https://github.com/monarch-initiative/omim/releases/tag/latest

[2022-04-18 08:10] matentzn commented on #51
Tox or poetry:

https://github.com/INCATools/ontology-access-kit
https://github.com/mapping-commons/sssom

either one is fine!

[2022-04-18 08:25] matentzn opened #52 "Review SSSOM metadata"
@joeflack4 excellent job on the sssom file attached to the release. If you can, raise this issue here at our next 1:1 so we can talk a bit about richer metadata.

Aside from some more basics (subject and object categories, mappings set metadata, etc) I would like to include a comment that describes exactly how the mapping set was derived (from which files, with which assumptions). Thank you!

[2022-04-18 09:11] matentzn commented on #52
As an outcome of this ticket, we should set Monarch-wide standards for SSSOM metadata.

[2022-04-18 15:27] joeflack4 opened #53 "Add `mapping_set_description` to `sssom.metadata.yml`"
Ex:
paragraph; 3-4 sentences
In order to do, we obtained <x, y, z> files from OMIM, we assume <x> mappings are exact matches, yada yada.

[2022-04-18 15:37] #52 closed

[2022-04-18 17:29] joeflack4 commented on #49
This was apparently due to `mim2gene.txt` and `genemap2.txt` being from different dates. Once I had versions of these that were produced on the same date, I got no inconsistencies. I've updated the code to download a fresh copy of `genemap2.txt`, which it wasn't doing before, so the problem is now solved.

[2022-04-18 17:29] #49 closed

[2022-04-18 17:32] joeflack4 opened #55 "HGNC symbol::id mappings: use better mapping file"
I've been using `data/hgnc/hgnc_complete_set.txt`, which is provided by EBI. But it is not reliable.

I should use `data/hgnc/Homo_sapiens.gene_info`, which can be obtained at [https://ftp.ncbi.nlm.nih.gov/gene/DATA/GENE_INFO/Mammalia/Homo_sapiens.gene_info.gz](https://ftp.ncbi.nlm.nih.gov/gene/DATA/GENE_INFO/Mammalia/Homo_sapiens.gene_info.gz). Ideally, I'll want to download a fresh copy of this

[2022-04-18 19:37] joeflack4 opened #56 "Adhere to basic principles for all source ingests"
Mirror issue: https://github.com/monarch-initiative/mondo-ingest/issues/3

[2022-04-18 19:38] joeflack4 commented on #56
Harshad might be able to help with this one, as I believe he has done / is doing this for other ingest repos.

[2022-04-19 07:30] matentzn commented on #55
For the sake of documentation, can you summarise exactly what makes the one that more reliable then the other? And also any reasons against making this change that come to mind.

[2022-04-19 11:20] matentzn commented on #56
No need to worry right now.. I will take care of this when the time comes.

[2022-04-19 15:29] joeflack4 commented on #55
Added EBI option unreliability reasoning to OP. Also, to expand on reason (2), I'm assuming that since OMIM uses the HGNC mappings from NCBI, I'm assuming they do this because they find it the best option, rather than as an arbitrary decision. I can't be absolutely sure that the HGNC mappings in this NCBI file are more recent than EBI's, but I think the fact that OMIM uses it makes it more justifi

[2022-04-19 18:22] matentzn commented on #55
Ok, I trust your judgement! Thanks for the explanation :)

[2022-04-20 00:01] joeflack4 opened #57 "Ingesr entrez, ensemble, HGNC, HGNC symbol mappings as SSSOM files"
Mirror of: https://github.com/monarch-initiative/monarch-mapping-commons/issues/11

[2022-04-20 17:17] sabrinatoro opened #58 "genes missing in the omim.ttl"
I cannot see find any gene-disease annotations in the omim.ttl file.
Are they missing? or are they coming from another file? (if so, could you please point me to it?)
Thanks!

[2022-04-20 17:18] sabrinatoro commented on #58
@joeflack4 (I cannot assign you on the issue, so I am tagging you here)

[2022-04-20 23:08] joeflack4 commented on #58
Hey @sabrinatoro ~. I added you as a maintainer of the repository, so you should be able to assign issues to me now.

Hmm, that seems like something I should definitely fix. Do you know if this was an issue for previous releases of `omim.ttl` as well, or just the latest release?

I just recently added genetic mappings for HGNC (symbols and IDs), which were not there in the previous release. But at

[2022-04-21 09:45] matentzn commented on #58
Take a cursory look in the next weeks @joeflack4 but do not go into deep without reporting to us in a meeting, as there is something in the back of my mind that tells me we decided to deliberately not include d2gs, but not sure now.

[2022-04-21 17:08] Shicheng-Guo opened #59 "Where to find more information about Mondo?"
Hi team, Where to find more information about Mondo? Thanks, Shicheng

[2022-04-22 08:02] matentzn commented on #59
Wrong tracker, please ask here: https://github.com/monarch-initiative/mondo/issues

The Mondo team will sort you out :) Best give some detail on what you are looking for!

[2022-04-26 08:41] matentzn opened #60 "Illegal punning on some properties"
The following properties are used wrongly:

http://purl.obolibrary.org/obo/RO_0002200
http://purl.obolibrary.org/obo/RO_0002525
http://purl.obolibrary.org/obo/RO_0003303

You are using them as _Annotation_ properties, while they should be _Object_ properties.

This query reflects the necessary change, but you should fix it at source.

[code]

[2022-05-25 10:48] matentzn commented on #45
- [ ] @joeflack4 to run new OMIM release
- [ ] @matentzn to re-run pipeline (its possible the issue here was a fluke, according to some of the analysis @joeflack4 did last month)
- [ ] If there are still inconsistencies, ask Mondo curators to submit and issue to OMIM

[2022-05-25 12:28] #53 closed

[2022-05-25 12:38] joeflack4 commented on #31
Currently, running the action will overwrite the existing `latest` release.

[2022-05-25 12:46] joeflack4 commented on #45
Roger that. Just made a new release: https://github.com/monarch-initiative/omim/releases/tag/latest

@matentzn Just wanted to let you know that my GitHub action will generate `omim.ttl`, but not `omim.sssom.tsv`.

My `make all` command includes this `sssom` command below. But I had to change the GitHub action to do `make build` (which doesn't include the `sssom` step) instead of `make all`, becaus

[2022-05-26 06:49] matentzn commented on #45
Dont worry about creating the sssom file here - if it is really just a parse with sssom-py, we will do it over at https://github.com/monarch-initiative/mondo-ingest

Thanks!

[2022-05-26 08:30] matentzn opened #61 "Add IRI and version IRI to OMIM"
See here how: https://oboacademy.github.io/obook/reference/formatting-license/

The IRI should be:

http://purl.obolibrary.org/obo/mondo/source/omim.ttl

the versionIRI should be:

http://purl.obolibrary.org/obo/mondo/source/omim/releases/$(VERSION)/omim.ttl

$(VERSION) could be e.g. 2022-01-31

[2022-05-26 08:36] #59 closed

[2022-05-26 08:36] matentzn commented on #37
https, not http :)

[2022-05-26 08:37] matentzn commented on #37
- [ ] When done, remind  me in slack to update Mondo old slurping code

[2022-05-26 21:27] joeflack4 commented on #31
Old approach using semver. We decided not to do this. Just keeping the notes here history.

~2.2 Use GitHub API to make a new release. For the release tag/label, you can put `pre_release`.
2.3. The difficult part. The previous release will still be labeled `latest_release`. That label needs to be removed and replaced with a new semver version. It's impossible, without knowing the change details, w

[2022-05-27 00:15] joeflack4 commented on #37
Done and done~

[2022-05-27 00:15] #37 closed

[2022-05-27 00:18] joeflack4 commented on #45
Alrighty, sounds good to me~

[2022-06-04 23:36] joeflack4 opened #62 "Ensure that we properly capturing disease::gene relationships"

[2022-06-06 13:01] matentzn commented on #45
@joeflack4 In the latest release I still see these equivalencies:

OMIM:146910 OMIM:147010
OMIM:147070 OMIM:146910
OMIM:147070 OMIM:147010
OMIM:300015 OMIM:402500
OMIM:300151 OMIM:403000
OMIM:300162 OMIM:400011
OMIM:300357 OMIM:400023
OMIM:312095 OMIM:465000
OMIM:400020 OMIM:312865
OMIM:425000 OMIM:306250
OMIM:430000 OMIM:308385
OMIM:450000 OMIM:313470
OMIM:609517 OMIM:610067

You can simply check

[2022-06-06 17:04] joeflack4 commented on #45
@matentz wow, my bad. I saw the subtask "to run new OMIM release" and just did that without reading back up to the rest of the issue.

Was a quick and easy change. I ran that `robot` command before the change, and saw those classes. Then I made the `skos` change, and now that command produces no output, as expected. New `omim.ttl` is in the root. Running the command to create a new release now.

[2022-06-08 07:51] matentzn commented on #45
Ok. However, this is just hiding the issue though from the reasoner - they will still exist in the SSSOM files. Can you remind me about the outcome of your discussion with OMIM: should these cycles exist at all? Did they claim that such cycles can occasionally happen, and if so, why?

[2022-06-08 15:20] joeflack4 commented on #45
@matentzn Now I think I'm understanding more what this issue is about.

In my opinion, we are not making the correct inference here. I was looking at my code comments, and back in November I wrote a comment where I was confused why we / Dazhi had chosen `owl:equivalentClass` for these (OMIM entry)::(HGNC Gene entry) relationships. I agree that the same kind of logical issue exists if we use `skos:

[2022-06-08 18:28] matentzn commented on #45
Hmm, nice analysis, but... not sure. @cmungall seems to disagree if you read his comment above. I think these OMIM ids are in fact genes, and we should ask OMIM to look at them. Since there are only so few I mean..

[2022-06-08 19:44] joeflack4 commented on #45
Ohh, I'm sorry. It's been awhile since I looked at his comment. He already largely addressed this / looked into my same example.

I agree with Chris' suggestions as to how to handle this, i.e. one thing we can do is have curators look at these and potentially make merge requests. If you want me to generate a report / table w/ information about all of these MIM entries to help w/ that process, just

[2022-06-08 20:00] matentzn commented on #45
Excellent! Just a table with the current conflicts would be great, basically all cases where two hgnc points to one omim or two omim point to the same hgnc.

Thanks!

[2022-06-10 15:51] matentzn opened #63 "NCBITaxon entity is wrong"
Is:

http://purl.obolibrary.org/obo/ncbitaxon#9606

should be:

http://purl.obolibrary.org/obo/NCBITaxon_9606

[2022-06-14 17:56] joeflack4 commented on #63
Done! The prefix URI itself was wrong. Running a new release now.

[2022-06-14 17:56] #63 closed

[2022-06-16 16:41] joeflack4 commented on #45
Link to the initial CSV and discussion is in pull request: https://github.com/monarch-initiative/omim/pull/64#discussion_r899300524

[2022-06-17 16:43] joeflack4 commented on #60
## Analysis
Just investigating the current usage of these three `RO` relationship edges/properties in `omim.ttl`:

### http://purl.obolibrary.org/obo/RO_0002200
All instances of these usages are like so, with subject as an NCBIGene entry and object as OMIM entry.
[code]

### http://purl.obolibrary.org/obo/RO_0002525 & http://purl.obolibrary.org/obo/RO_0003303
All instances of these usages are dire

[2022-06-18 06:21] matentzn commented on #60
Some annotation properties are like object properties (what you would call relationships) and connect two entities (classes, individuals) (skos:exactMatch for example). Some annotation properties are like data properties and connect entities with literals (foaf:first_name, rdfs:label, sw:birth_date).

Annotation properties are ignored by the reasoner. Data and Object Properties are taken into acco

[2022-06-18 13:33] matentzn commented on #60
1. The best way to figure out what type a property is is to use search in ontobee:

https://www.ontobee.org/ontology/RO?iri=http://purl.obolibrary.org/obo/RO_0003303

(replace the `iri` parameter with the URI, you are looking for.)

Alternatively, you can go here https://www.ontobee.org/ and put the id in the `keywords` box. This will tell you which ontology has the id. Click on the ontology (RO)

[2022-07-13 19:34] #45 closed

[2022-07-14 21:56] joeflack4 opened #66 "Utilize Entrez and Ensembl?"
## Summary
**[Context](https://github.com/monarch-initiative/omim/pull/64#discussion_r898909739)**

[2022-07-14 21:56] joeflack4 commented on #66
@cmungall I believe this will be on tomorrow's meeting agenda, but if you want to comment directly on this issue, feel free.

[2022-07-15 16:32] joeflack4 commented on #66
There is some amount of subjectivity. There's no necessary right answer. There's a strong urge to use Ensembl for cell related work. HGNC is the authority for human genes. Might be nicer in Monarch to use NCBI gene, but we decided for every organism to use their authoritative source (e.g. HGNC for human).

[2022-07-15 16:53] joeflack4 commented on #66
Determination: We are just using HGNC for human sources.

[2022-09-30 22:13] joeflack4 opened #67 "OMIM terms with `None` label"
## Overview
I was looking at some `mondo-ingest` outputs for OMIM, and noticed `'None'` as the label for some terms. I looked at `omim.owl` and saw that they are showing as `'None'` there as well.

I would imagine that this is a bug in the OMIM ingest.

Here's an example of something with a legit label that ended up with a `'None'` label.

Our `omim.owl`:
[code]

Online entry for https://omim.org/

[2022-10-01 12:51] matentzn commented on #67
Oh ok, yes, solving this is is important. Thanks for catching. Hopefully this is an easy fix. Better not to have a label at all then to have a label "None"

[2022-10-05 13:25] joeflack4 opened #68 "Update OMIM URIs"
## Overview
See more: https://github.com/biopragmatics/bioregistry/issues/497

Remember: Need to change this here as well:
1. `mondo-ingest`
2. `[mondo-sssom-pipeline]`

[2022-10-14 20:44] joeflack4 opened #70 "Bug: Matching on abbreviations"
## Overview
Nicole V mentioned today that this is the only thing she knows thats wrong w/ the OMIM ingest currently. We have matchings that are sometimes done on abbreviations.

I'm not sure where in the ingest it is doing this at the moment.

Example of the problem (row within the following [Google Sheet: unmapped_omim_lex](https://docs.google.com/spreadsheets/d/1KPGxCeQue7mNmSSQoLrMMnfelQrUVAKQj

[2022-10-14 20:45] joeflack4 opened #71 "Use Exomizer for validating/testing output?"

[2022-10-14 21:06] nicolevasilevsky commented on #70
I think we should just keep doing the mapping this way (matching on abbreviations) and have me and @sabrinatoro review them. Because if we don't match on them, we may lose some potential mappings.

[2022-10-14 21:53] joeflack4 commented on #70
@nicolevasilevsky Alright, that sounds fine to me!

[2022-10-14 21:53] #70 closed

[2022-10-17 22:51] joeflack4 commented on #71
Adding @kanems suggestion (https://github.com/monarch-initiative/mondo/issues/5507#issuecomment-1280755047) that we could use Medgen for an additional source of validation. My initial guess is that Exomiser may be fully sufficient, as Chris M says it is a 'clinical flagship product', but I think it's good to capture all possible means of validation in this issue.

[2022-10-24 08:23] matentzn commented on #71
If you need help coordinating this comparison, feel free to ping me during a call. I have biweekly meetings with Jules and we can make a plan for how best to compare.

[2022-10-26 21:12] joeflack4 opened #73 "`morbidmap.txt` (gene::phenotype relationships): Parse fully"
## Overview
There is a mapping key within the phenotype label that we have not been extracting. Kevin Schaper has linked me to [some code that does this](https://github.com/monarch-initiative/monarch-ingest/blob/main/monarch_ingest/ingests/omim/gene_to_disease.py).

## Related
- #62

[2022-10-26 21:14] joeflack4 opened #74 "OMIM Ingest: Invalid refs to `OMIM:1` -> `OMIM:14`"
See: https://github.com/monarch-initiative/mondo-ingest/issues/98

[2022-10-28 22:58] joeflack4 opened #75 "`morbidmap.txt`: `RO:0003302` when multiple rows / gene::disease relationships"
## Overview
At the Mondo technical meeting today, Nico asked me to investigate whether or not there were phenotypes/disorders that had multiple rows in `morbidmap.txt`. I did an investigation and found that there are.

**Example**
In this example, the `Phenotype` in question has the label `{Type 2 diabetes mellitus, susceptibility to}`. Full label is `{Type 2 diabetes mellitus, susceptibility to},

[2022-10-28 23:14] joeflack4 commented on #75
@sabrinatoro @matentzn Take a look at the results and my questions here. Also here is a link to the new release where you can download the latest `omim.ttl`: https://github.com/monarch-initiative/omim/releases/tag/2022-10-27

[2022-10-28 23:15] joeflack4 commented on #58
@sabrinatoro  Here is a link to the new release where you can download the latest `omim.ttl`: https://github.com/monarch-initiative/omim/releases/tag/2022-10-27

Can you also check out #75? I added some example snippets where I show how I'm adding gene information and this other mapping evidence. I'm hoping I've done this correctly.

[2022-10-31 17:53] sabrinatoro commented on #75
The curly brakets means this is a susceptibility term.
The phenotypes in the morbitmap that have more than one gene per disease should not be brought into Mondo.
If I understand correctly, the omim.ttl file is what we bring into Mondo: the gene is brought up as "causes condition" (RO:0003303) - omim phenotype. If I understand correctly, I can find at least 1 example of 1 disease (OMIM:254090) that

[2022-10-31 17:56] sabrinatoro commented on #58
@joeflack4, please see my comment on https://github.com/monarch-initiative/omim/issues/75
I can see the genes in the omim.ttl, but there are some errors in the cases when more than 1 gene is associated with a phenotype/disease (these gene-disease association should not be imported)

[2022-10-31 18:00] sabrinatoro commented on #58
I spot checked some gene-disease from the list in this issue: https://github.com/monarch-initiative/mondo/issues/5018, and was able to find them.

[2022-11-12 18:10] matentzn opened #76 "Compare OMIM morbidmap interpretation is Exomiser"
As discussed during the call.

Here is a good place to start looking: https://github.com/exomiser/Exomiser/blob/master/exomiser-data-phenotype/src/test/java/org/monarchinitiative/exomiser/data/phenotype/processors/readers/disease/OmimGeneMap2ReaderTest.java

[2022-11-12 22:27] joeflack4 opened #77 "Grouping issue: `morbidmap.txt` and Gene::Disease association issues"

[2022-11-12 22:31] joeflack4 opened #78 "`morbidmap.txt`: `Phenotype`s missing MIM#s"
## Overview
We are mapping gene::disease associations from `morbidmap.txt`. All of the genes have MIM#s (see the `MIM Number` field). The MIM# for the 'diseases' are found within the string label of the `Phenotype` field. However, in some cases there is no MIM# there.

## Possible solutions.
- a. Create an alternative ID system. Perhaps 1 ID for every row in `morbidmap.txt` (so that the associatio

[2022-11-12 22:31] joeflack4 opened #79 "GeneDiseaseAssociation predicates"
## Overview
Right now, we are using the predicate `RO:0003303` (_[causes condition](https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http://purl.obolibrary.org/obo/RO_0003303)_) to represent all gene::disease associations (i.e. all rows in `morbidmap.txt`). I don't think this was our intention; I just think this is where Dazhi left it about a year ago and I'm just realizing this now.

## Cou

[2022-11-12 22:33] joeflack4 commented on #77
@matentzn @sabrinatoro @cmungall @nicolevasilevsky: FYI

[2022-11-12 22:35] joeflack4 commented on #8
@matentzn Oh man, just seeing this issue now lol xD. This is what you were explaining on Zoom and on the PR.

[2022-11-12 22:51] joeflack4 opened #80 "OMIM ingests: Monarch vs Mondo: compare, update, (merge?)"

[2022-11-12 22:55] joeflack4 commented on #80
@cmungall @matentzn @kevinschaper I believe this is something we are trying to do? Feel free to edit my title/OP.

[2022-11-12 22:58] joeflack4 commented on #76
@matentzn I updated the issue title / OP a bit because I feel like the OMIM ingest under `monarch-ingest` is related, but if I'm mistaken, feel free to change back.

@kevinschaper @matentzn I opened a greater issue for comparing these ingests for more than just `morbidmap.txt`. Concerning `morbidmap.txt`, I believe that I have fully looked through how `monarch-ingest` is doing this, and I feel tha

[2022-11-13 21:32] joeflack4 commented on #76
Since #71 is related, and includees Medgen I'm wondering if I should add Medgen as a sub-task of this issue too.

[2022-11-13 21:42] joeflack4 opened #81 "`morbidmap.txt`: 1 case of association w/ 2 mapping keys"

[2022-11-13 21:59] joeflack4 commented on #78
@sabrinatoro Here's the full report of all such cases: [noMimNumsInPhenoLabels.tsv.zip](https://github.com/monarch-initiative/omim/files/9998300/noMimNumsInPhenoLabels.tsv.zip)

And here are some example rows:
[code]

[2022-11-14 09:51] matentzn commented on #57
Look into https://github.com/monarch-initiative/monarch-gene-mapping

[2022-11-14 09:52] #50 closed

[2022-11-14 09:53] matentzn commented on #42
@joeflack4 this should be fixed already, can you confirm?

[2022-11-14 09:55] #36 closed

[2022-11-14 09:56] matentzn commented on #74
Isnt this fixed?

[2022-11-14 10:40] matentzn commented on #8
More or less, but it is not yet covering the RDF reification part, which is an axiom annotation on top of that axiom here.

Here is an example of the full beast of a re-fied OWL existential association (the ugliest construct in human history):

[code]

[2022-11-14 10:49] matentzn commented on #80
Yes, we should. Indeed, we should probably strive to:

1. Have Mondo-OMIM supersede Monarch-OMIM entirely
2. Have Exomiser-OMIM and Mondo-OMIM be algorithmically identical (probably it will be hard to convince Exomiser to abandon their OMIM parser, but if we can demonstrate we cover all they do, they might in the future)

[2022-11-14 22:40] joeflack4 commented on #8
I do agree it is ugly looking lol xD. Thanks. I just looked at [your example in the latest PR](https://github.com/monarch-initiative/omim/pull/72#discussion_r1009456508) and the structure of what you have here is identical. I will do this.

[2022-11-14 22:49] joeflack4 commented on #74
It is, pending merge of #72.

[2022-11-14 22:50] joeflack4 commented on #42
Yep! I should've closed this.

[2022-11-14 22:50] #42 closed

[2022-11-14 22:52] joeflack4 commented on #57
Thanks @matentzn . I'm assuming this is `low priority` for now, so I'll mark with that label. Looking forward to eventually working on this though.

[2022-11-14 23:00] joeflack4 commented on #79
@sabrinatoro I saw that in [#75 you mentioned](https://github.com/monarch-initiative/omim/issues/75#issuecomment-1297458885) that:

Example:
[code]

Just wanting to add note about that here. I'm assuming that one of the predicates in [your RO spreadsheet](https://docs.google.com/spreadsheets/d/1bzxGT7vqQNhUHhe3vcOv-5JDGZg5izS5D7J2M2zYBxs/edit#gid=1090676757) might be appropriate for susceptibility

[2022-11-15 13:01] matentzn commented on #75
@sabrinatoro can you raise this in meeting?

[2022-11-15 19:48] joeflack4 opened #82 "MIM titles with ", INCLUDED""
## Overview
@sabrinatoro @ nicolevasilevsky I wasn't sure whether to make an issue in `mondo` or `mondo-ingest` so I just made it here.

From last meeting:

I linked this list in some issue but I couldn't find it, so I just generated it again (mostly `cat mimTitles.txt | grep ", INCLUDED"`)
[mimTitlesWithWordIncluded.tsv.zip](https://github.com/monarch-initiative/omim/files/10015730/mimTitlesWithW

[2022-11-15 19:50] joeflack4 opened #83 "Docs: need documentation for new OMIM ingest process"

[2022-11-16 00:06] nicolevasilevsky commented on #83
We used to do this:
https://mondo.readthedocs.io/en/latest/editors-guide/omim-slurp/

But I'm unclear if we are still meant to be doing this? cc @matentzn

@joeflack4  the other task is for you to write up documentation of how the OMIM sync/slurp works now. I am not clear how this process works. Thanks!

[2022-11-16 00:16] nicolevasilevsky commented on #82
thanks @joeflack4, this is perfect. I'll take it from here. We can close this issue here

[2022-11-16 00:41] #82 closed

[2022-11-17 22:22] joeflack4 commented on #76
I think that the scope of this issue is broad. But the impetus for why it was written was to see how Exomiser handles: #78

I've done an investigation, and it looks like they [opt simply not to add the gene::disease relationship](https://github.com/exomiser/Exomiser/blame/master/exomiser-data-phenotype/src/test/java/org/monarchinitiative/exomiser/data/phenotype/processors/readers/disease/OmimGeneM

[2022-11-17 22:22] joeflack4 commented on #78
I did an investigation for #76 to look at how Exomiser does. It looks like if MIM number is missing, they don't add a relationship: https://github.com/monarch-initiative/omim/issues/76#issuecomment-1319284653

[2022-11-18 00:22] sabrinatoro commented on #81
Taking the example above: (I don't know how to format it)
Phenotype	Gene Symbols	MIM Number	Cyto Location
Neurodevelopmental disorder with hypotonia, stereotypic hand movements, and impaired language, 613443 (3)	MEF2C, C5DELq14.3, DEL5q14.3, NEDHSIL	600662	5q14.3
Chromosome 5q14.3 deletion syndrome, 613443 (4)	MEF2C, C5DELq14.3, DEL5q14.3, NEDHSIL	600662	5q14.3

1) there are 2 phenotypes that are

[2022-11-18 00:52] sabrinatoro commented on #79
I think that each mapping key should be associated with a specific relation as they mean something different:

I don't think these represent actual diseases. All the examples I checked represent locus and are excluded. I think we can ignore.

This means that we know that a gene is associated with a disease, but we don't know what variation/mutation is responsible for this disease
I suggest we use:

[2022-11-18 10:36] matentzn commented on #76
@joeflack4 gimme a sec, want to get some feedback from @julesjacobsen before moving on.

[2022-11-18 12:10] julesjacobsen commented on #76
I don't know enough about OMIM to give a definitive reason for these having missing MIM identifiers. I'm going to guess it's because they are an umbrella term, a combined phenotype or something they haven't curated yet?

e.g. searching OMIM for ["Scaphocephaly and Axenfeld-Rieger anomaly"](https://omim.org/entry/176943?search=Scaphocephaly%20and%20Axenfeld-Rieger%20anomaly&highlight=%22axenfeld%7C

[2022-11-18 17:36] nicolevasilevsky commented on #75
we should use relationship 'contributes to'

[2022-11-18 18:50] nicolevasilevsky opened #84 "parcel out OMIM Included entries in OMIM ingest"
OMIM has 'included' entries in their records, which are properly distinct diseases and should be added separately to Mondo.
Per our conversation on the technical call on 11/18/22:

- we should parcel out OMIM Included entries, add a string included and use this convention to integrate the links on the Mondo site
- Create these terms as new classes in the OMIM ingest
- the dbxref should be `OMIM:XX

[2022-11-18 21:51] joeflack4 commented on #84
@nicolevasilevsky I just added you to the repo! You should be able to assign me in the future now.

Thanks~. Not sure if I'll work on this one next week, I may take the whole week off for Thanksgiving.

[2022-11-18 21:56] nicolevasilevsky commented on #84
thanks @joeflack4!
I'm taking next week off too. Happy TG! 🦃

[2022-11-18 22:02] joeflack4 commented on #75
@matentzn @sabrinatoro I want your thoughts/judgement: Sabrina has [determined some new predicates](https://github.com/monarch-initiative/omim/issues/79#issuecomment-1319408780) for each type of mapping evidence. For cases where there are 2+ types of mapping evidence, we want to use `RO:0003302` as Nicole stated above. My question is, do we want to:

(a) Only add relationship using`RO:0003302`, or

[2022-11-18 22:51] joeflack4 commented on #76
Just an update from our meeting today. Sabrina unveiled a huge mind-fizzle in the `morbidmap.txt` data model. If I understand correctly: (i) normally the `MIM Number` field is for a gene, (ii) but, in cases where we see no MIM# in the `Phenotype` field, the MIM# in the `MIM Number` column is actually a _phenotype/disorder_, not a gene.

[2022-11-18 22:54] joeflack4 commented on #78
Just updating this issue given that Sabrina already figured this out. I explained in related thread: https://github.com/monarch-initiative/omim/issues/76#issuecomment-1320616745

[2022-11-18 22:56] joeflack4 commented on #76
I chatted with Kevin Schaper on Slack, and though he doesn't understand the full pipeline (and I understand even less) for this part of the Monarch ingest, what I believe they're doing leaving all of these out of the initial ingest, and funneling them into a QC process to potentially be manually added later.

[2022-11-18 23:13] joeflack4 commented on #81
Hmm, interesting... We discussed the MIMs with ", INCLUDED" on the call today. There are lots of MIMs like that. However, this is the only one such case in all of `morbidmap.txt` for which there are 2 different evidence mapping keys in this way. Because of that, I wonder if there could be more to this. This data model has thoroughly scrambled my brain for the day.

[2022-11-19 09:23] matentzn commented on #84
I thought a bit more about this, and I would like to be involved in the design of this feature. Essentially, we want:

- an OMIM:123_INCLUDED  ID.
- [ ] making that a subclass of the OMIM:123 ? @nicolevasilevsky to confirm
- _not_ including that mapping in the official OMIM mappings with the Mondo release, but instead including broad matches.

This will be not terribly difficult to accomplish but

[2022-11-19 10:29] matentzn commented on #75
I think (a) is fine. But

- [ ] document that decision in https://github.com/monarch-initiative/mondo-ingest/blob/main/src/ontology/metadata/omim.yml

[2022-11-19 11:55] matentzn commented on #76
Can you provide a link with some evidence? I have never heard of a practice like "manual curation" in monarch KG...

[2022-11-19 15:47] kevinschaper commented on #76
Ohhh, not added later in that sense.

The edges that get an NCBI Locus as the subject wind up in our "dangling edges" file.

In some cases, we can recover the edges on a future ingest run by adding additional mappings, or even new node sources, but in this situation I think we could actually simplify the OMIM ingest by skipping those rows.

[2022-11-19 21:50] joeflack4 commented on #83
@nicolevasilevsky will do. Also, Nico just adding this here for me. One particular that Nico asked is to our use of RO when there is more than 1 mapping evidence: https://github.com/monarch-initiative/omim/issues/75#issuecomment-1320854609

[2022-11-19 21:50] joeflack4 commented on #75
Sounds good. I have collected this in my docs todo's.
I assume you maybe meant? https://github.com/monarch-initiative/mondo-ingest/blob/main/docs/sources/omim.md

[2022-11-19 21:53] joeflack4 commented on #76
Thanks, Kevin. Just to clarify if it's not clear, when Kevin says "NCBI Locus", here's the role that plays in the dangling edge he's talking about (an example copy/pasta from our slack):

[code]

[2022-11-19 22:31] joeflack4 opened #85 "`morbidmap.txt`: Include phenotype label in ingest?"
I noticed this potential lossiness just now, and I wanted to ask @sabrinatoro and @nicolevasilevsky what you guys think.

Here are the labels for `OMIM:202110` from `mimTitles.txt`:
[code]

Here it appears in `morbidmap.txt` (first two rows of file, actually):
[code]

I see that this MIM has many titles, but only two of them show up in `morbidmap.txt`. I don't know if this is because (a) some of t

[2022-11-19 23:00] joeflack4 opened #86 "`morbidmap.txt`: Cases where same MIM# is mapped to (i) a phenotype MIM# and (ii) a plain label"
## Overview
Hey @sabrinatoro , I wanted you to take a look at this for me. While I was coding, I remembered something you said and I wanted to check for an edge case. I believe you mentioned at the meeting yesterday that, in rows where the `Phenotype` column has no MIM# in it, the MIM# in the `MIM Number` column is not actually a gene MIM (which is usually the case), but is a phenotype/disorder MI

[2022-11-20 00:03] joeflack4 commented on #75
@matentzn @sabrinatoro Just want to clarify just in case I misunderstood something.

## Example cases
### 1. Multiple rows, same mapping key (3)
[code]

### 2. [Multiple rows, different mapping keys (3) & (4)](https://github.com/monarch-initiative/omim/issues/81)
[code]

## What I believe I'm supposed to do
i. For both example cases of (1) and (2) above, I'm going to add 1 gene::disease relationsh

[2022-11-20 00:15] joeflack4 commented on #79
This is really awesome, and even more than I had hoped for. You mentioned reviewing before doing anything. I'm already so far in with adding these predicates (along with other changes in [this pr](https://github.com/monarch-initiative/omim/pull/72)) that I would hate to go back to using just plain `RO_0003303` for everything like we were doing before.

Until I come back from Thanksgiving, I'm goin

[2022-11-20 08:15] matentzn commented on #75
I will let @sabrinatoro answer this, but, in example two, is the `disease` (`phenotype`) in both rows the same, because 613443 is in the label? The first part of the label sounds so.. different to a layperson like me.

[2022-11-22 22:43] joeflack4 commented on #75
I can help elaborate on what I mean. In the _example case 2_ , the `Phenotype` field for the second row is:

This `Phenotype` field consists of 3 parts:
i. Label: `Chromosome 5q14.3 deletion syndrome`
ii. MIM#: `, 613443`
iii. Mapping evidence key: ` (4)`

At least, 'label' is what I call it. I suppose you could also call it a 'title' or 'name'.

[2022-11-28 22:38] nicolevasilevsky commented on #85
I'm not sure if I fully understand the question but the title of this term should be:
ADRENAL HYPERPLASIA, CONGENITAL, DUE TO 17-ALPHA-HYDROXYLASE DEFICIENCY

with exact synonyms:
ADRENAL HYPERPLASIA V
17-ALPHA-HYDROXYLASE DEFICIENCY

dbxref: OMIM:202110
source: MONDO:equivalentTo

And these terms should be separate entries in Mondo, with a dbxref to this OMIM and source: MONDO:includedEntryInOMIM

[2022-11-29 00:31] sabrinatoro commented on #75
it looks like this is the example where the disease/phenotype that are in both rows represent 2 different diseases (though they have the same OMIM id; one is an "included" term.

Otherwise your plan makes sense (I think)

[2022-11-29 01:38] joeflack4 commented on #75
Hmmmmm... Could it be that all such instances of this label variation are such that one of the labels is the main label, and the rest of them are ", INCLUDED" labels? Not sure. @matentzn If you want, at some point I could do an analysis like this: (i) group the MIMs and their label variations from `morbidmap.txt`, (ii) fetch all label variations for given MIMs in `mimTitles.txt`, (iii) check if th

[2022-11-29 19:13] joeflack4 opened #87 "Slurp: Deprecation updates"
## Overview
There are some obsolete/deprecated OMIM terms that made their way into Mondo. Perhaps there is still some work to be done on the slurp?

## Sub-task list
- [x] 1. Figure out how to identify deprecated terms in OMIM, if not already
- [x] 2. Make sure they are labeled as such in the output
- [ ] 3. Make sure this information is slurped: We basically need (i) a list of all deprecated OMIM

[2022-11-29 19:15] matentzn commented on #87
This issue was great! Leave it! Forget what I said on slack.

[2022-11-29 19:19] joeflack4 commented on #87
Looks like the OMIM ingest side of things is done. Example:
[code]

How it's identified (`mimTitles.txt`):
[code]

[2022-11-29 19:24] matentzn commented on #87
Excellent. The sync will be easy p easy for you then. Unfortunately we don't meet tomorrow, but if you can prepare a robot template with the MONDO ID in one column, obsolete OMIM id in one column and a string saying "MONDO:equivalentObsolete" in a third, we can hash out the rest on Friday.

[2022-11-29 21:38] joeflack4 commented on #87
I located 91 mapped deprecated terms in Mondo out of 1,345 deprecated OMIM terms.

Analysis and outputs in PR: https://github.com/monarch-initiative/mondo-ingest/pull/108